body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #000000;
	opacity: 0.3;
}

.welcome,
.interested {
	text-align: center;
}

.welcome h2 {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	margin: 0;
}

.welcome p {
	color: #333333;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	margin: 0;
}

.interested h2 {
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin: 0;
}

.interested p {
	color: #333333;
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	margin: 0;
}

.interested a {
	color: #ffffff;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.interested a:hover {
	color: #ffffff;
	background-color: #604e43;
}

.interested a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #503e33;
}

.modal {
	display: none;
}

.hotels {
	list-style: none;
}

.catalog-item h2 {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

/*
.catalog-item a:focus {
	color: #ffffff;
	opacity: 0.3;
}

*/

.button-info {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #81b3d2;
}

.more-info a:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.more-info a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496bd;
}

.button-book {
	color: #ffffff;
	background-color: #766357;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}

.book a:hover {
	color: #ffffff;
	background-color: #604e43;
}

.book a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #503e33;
}

.hotel-name a {
	color: #000000;
}

.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:focus {
	color: #000000;
	opacity: 0.3;
}

.rating-number {
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
}

.footer {
	color: #ffffff;
	opacity: 0.9;
}

.footer-hash-tag {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	text-align: left;
}

.social-navigation {
	list-style: none;
}

.social-navigation a:focus {
	color: #ffffff;
	opacity: 0.3;
}

.footer-social {
	text-align: center;
}

.footer-copyright {
	text-align: right;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
}

.main-container {
	width: 1200px;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	margin-left: auto;
	margin-right: auto;
}

.main-header-wrapper {
	background-image: url("../img/welcome.svg"), url("../img/background_photo.jpg");
	height: 785px;
	background-position: 370px 132px, 100%;
	background-size: auto, cover;
	background-repeat: no-repeat;
}

.main-header-wrapper .logo {
	position: absolute;
	left: 50%;
	bottom: 0;
	top: 0;
}

.navigation {
	background-color: #ffffff;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.site-navigation li {
	padding-top: 15px;
	padding-bottom: 15px;
}

.grand-canyon-sucks {
	/*
	padding: 76px 370px 0 370px;
	*/
	margin-top: 76px;
	padding: 0 370px 0 370px;
	margin-bottom: 21px;
}

.photo-mask {
	background-image: url("../img/background_photo_mask.svg");
	height: 59px;
	width: 1200px;
	background-position: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0;
	padding: 0;
}

.welcome {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.interested {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.footer-container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0;
	padding: 0;
	background-color: #ffffff;

}

.hotels-wrapper {
	display: flex;
	justify-content: space-between;
}

.hotels {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}

.catalog-item {
	width: 1200px;
	background-color: #ffffff;
	outline: 1px solid #f2f2f2;
}
