body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	color: #333333;
	text-transform: uppercase;

	background-color: #f2f2f2;
	background-position: top center;
	background-repeat: no-repeat;
}

a {
	text-decoration: none;
}

.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
}

.navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;
	color: #000000;
	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #000000;
	opacity: 0.3;
}

.welcome,
.interested {
	text-align: center;
}

.welcome h2 {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	padding-top: 61px;
	margin: 0;
}

.welcome p {
	color: #333333;
	font-size: 14px;
	line-height: 26px;
	font-weight: 400;
	padding-top: 38px;
	padding-bottom: 56px;
	margin: 0;
}

.interested h2 {
	color: #000000;
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	padding-top: 57px;
	margin: 0;
}

.interested p {
	color: #333333;
	font-size: 21px;
	line-height: 24px;
	font-weight: 400;
	padding-top: 48px;
	margin: 0;
}

.interested a {
	color: #ffffff;
	background-color: #766357;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.interested a:hover {
	color: #ffffff;
	background-color: #604e43;
}

.interested a:focus {
	color: #857871;
	background-color: #503e33;
}

.modal {
	display: none;
}

.hotels {
	list-style: none;
}

.catalog-item h2 {
	color: #000000;
	font-size: 21px;
	line-height: 26px;
}

.button {
display: inline-block;
}

.button-search {
padding: 35px 140px 33px 140px;
margin-top: 52px;
}

.button-info {
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
	background-color: #81b3d2;
}

.button-book {
	color: #ffffff;
	background-color: #766357;
	font-size: 14px;
	font-weight: 700;
	line-height: 21px;
}

.more-info a:hover {
	color: #ffffff;
	background-color: #669ec0;
}

.more-info a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496bd;
}

.book a:hover {
	color: #ffffff;
	background-color: #604e43;
}

.book a:focus {
	color: #ffffff;
	opacity: 0.3;
	background-color: #503e33;
}

.hotel-name a {
	color: #000000;
}

.hotel-name a:hover {
	color: #81b3d2;
}

.hotel-name a:focus {
	color: #000000;
	opacity: 0.3;
}

.rating-number {
	color: #666666;
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
	width: 110px;
	height: 27px;
	background-color: #f2f2f2;
}

.main-container {
	width: 1200px;
	box-shadow: 0 5px 15px rgba(0, 1, 1, 0.2);
	margin-left: auto;
	margin-right: auto;
}

.main-header-wrapper {
	position: relative;
}

.main-header-wrapper .logo {
	position: absolute;
	top: -1px;
	left: 530px;
}

.navigation ul {
	background-color: #ffffff;
	display: flex;
}

.site-navigation {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.site-navigation li {
	padding-top: 15px;
	padding-bottom: 15px;
	display: flex;
}

.site-navigation li:nth-child(1) {
	padding-left: 72px;
	flex-grow: 1;
}

.site-navigation li:nth-child(2) {
	padding-left: 73px;
	flex-grow: 1;
}

.site-navigation li:nth-child(3) {
	text-align: right;
	padding-right: 73px;
	flex-grow: 1;
}

.site-navigation li:nth-child(4) {
	/*text-align: right;*/
	padding-right: 72px;
	flex-grow: 1;
}

.second-header-wrapper {
	background-image: url("../img/background_photo.jpg");
	height: 508px;
}

.grand-canyon-sucks {
	padding: 76px 370px 0 370px;
}

.photo-mask {
	height: 59px;
	background-image: url("../img/intro-mask.svg");
	padding: 0px;
	margin: 0;
}

.welcome {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.interested {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.footer-container {
	display: flex;
	background-color: #ffffff;
	opacity: 0.9;
	outline: solid 2px blue;
	margin: 0;
	padding: 0;
}

.footer-hash-tag {
	outline: solid 1px red;
	width: 135px;
	margin: 0 0 0 135px;
	font-size: 21px;
	line-height: 26px;
	text-align: left;
}

.social-navigation {
	list-style: none;
}

.footer-social ul {
	list-style: none;
	display: flex;
	width: 150px;
	flex-wrap: wrap;
	justify-content: space-between;
	outline: solid 1px black;
	margin: 0 0 0 255px;
	padding: 0;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:focus {
	background-color: #5496bd;
}

.social-button:focus path {
	fill: #88b6d1;
}

.footer-copyright {
	/*
	margin-right: 100px; 
	*/
	outline: solid 1px green;
	width: 200px;
	margin: 0 auto;
}

.footer-copyright b {
	display: block;
	text-align: right;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
}

.footer-copyright a {
	display: block;
	width: 115px;
	height: 41px;
}

.hotels-wrapper {
	display: flex;
	justify-content: space-between;
}

.hotels {
	display: flex;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none;
	flex-wrap: wrap;
}

.catalog-item {
	width: 1200px;
	background-color: #ffffff;
	outline: 1px solid #f2f2f2;
}
